@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


$firstFont:'KoHo', sans-serif;
$secondFont:'Raleway', sans-serif;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: $secondFont;
}

a {
    color: black;
    text-decoration: none;
}

ul li {
    list-style-type: none;
}


header{
    // position: sticky;
    // top: 0%;
    height: 8vh;
    background-image: url(images/bg3.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    overflow: hidden;
    transition: all 0.5s ease-in-out;

    &:hover {
        height: 45vh;
        background-position: center;
    }

    &:hover nav>.brand{
        opacity: 0;
        cursor: default;
        pointer-events: none;
    }

    &:hover nav>ul {
        width: 650px;
    }

    &:hover nav>ul>li>a {
        font-size: 2rem;
    }


    nav {
        height: 8vh;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .brand {
            margin-left: 4rem;
            transition: all 1s ease-in-out; 
            h1 {
                font-size: 4rem;
                font-family: $firstFont;
                color: rgb(0, 255, 179);
            }
        }

        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 600px;
            height: 4vh;
            margin-right: 2rem;
            transition: all 0.5s ease-in-out;
            li {
                a{
                    font-size: 1.5rem;
                    font-weight: 500;
                    color: rgb(0, 255, 179);
                    transition: all 0.6s ease-in-out;

                    &:hover {
                        font-style: italic;
                    }
                }
            }
            .shop {
                a {
                    font-size: 1.5rem;
                    padding: 1rem 2rem;
                    background-color: black;
                    color: white;

                    &:hover {
                        background-color: rgb(0, 255, 179);
                        color: black;
                    }
                }
            }
        }
    }

    .extra {
        margin-top: 1rem;
        margin-left: 4rem;
        h1 {
            color: rgb(0, 255, 179);
        }
        .category {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 25vh;
            margin: 2rem 0 0 1rem;

            ul {
                li{
                    a{
                        display: block;
                        width: 200px;
                        text-align: center;
                        background-color: rgb(0, 255, 179);
                        padding: 1.5rem 2rem;
                        font-size: 1.4rem;

                        &:hover {
                            color: white;
                            background-color: rgb(19, 19, 19);
                            border-bottom: 2px solid rgb(0, 255, 179);
                        }
                    }
                }
            }
        }
    }
}

