@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


$firstFont:'KoHo', sans-serif;
$secondFont:'Raleway', sans-serif;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: $secondFont;
}

a {
    color: black;
    text-decoration: none;
}

ul li {
    list-style-type: none;
}


header{
    // position: sticky;
    // top: 0%;
    height: 8vh;
    background-image: url(images/bg3.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    overflow: hidden;
    transition: all 0.5s ease-in-out;

    &:hover {
        height: 45vh;
        background-position: center;
    }

    &:hover nav>.brand{
        opacity: 0;
        cursor: default;
        pointer-events: none;
    }

    &:hover nav>ul {
        width: 650px;
    }

    &:hover nav>ul>li>a {
        font-size: 2rem;
    }


    nav {
        height: 8vh;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .brand {
            margin-left: 4rem;
            transition: all 1s ease-in-out; 
            h1 {
                font-size: 4rem;
                font-family: $firstFont;
                color: rgb(0, 255, 179);
            }
        }

        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 600px;
            height: 4vh;
            margin-right: 2rem;
            transition: all 0.5s ease-in-out;
            li {
                a{
                    font-size: 1.5rem;
                    font-weight: 500;
                    color: rgb(0, 255, 179);
                    transition: all 0.6s ease-in-out;

                    &:hover {
                        font-style: italic;
                    }
                }
            }
            .shop {
                a {
                    font-size: 1.5rem;
                    padding: 1rem 2rem;
                    background-color: black;
                    color: white;

                    &:hover {
                        background-color: rgb(0, 255, 179);
                        color: black;
                    }
                }
            }
        }
    }

    .extra {
        margin-top: 1rem;
        margin-left: 4rem;
        h1 {
            color: rgb(0, 255, 179);
        }
        .category {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 25vh;
            margin: 2rem 0 0 1rem;

            ul {
                li{
                    a{
                        display: block;
                        width: 200px;
                        text-align: center;
                        background-color: rgb(0, 255, 179);
                        padding: 1.5rem 2rem;
                        font-size: 1.4rem;

                        &:hover {
                            color: white;
                            background-color: rgb(19, 19, 19);
                            border-bottom: 2px solid rgb(0, 255, 179);
                        }
                    }
                }
            }
        }
    }
}



.hero {
    height: 90vh;
    width: 100vw;

    .showcase {
        .images {
            display: flex;
            justify-content: center;
            margin-top: 10rem;

            .img {
                position: relative;
                border-top: 15px solid rgb(0, 255, 179);
                border-bottom: 15px solid rgb(0, 255, 179);
                overflow: hidden;

                .imageDes {
                    position: absolute;
                    bottom: -50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    text-align: center;
                    transition: all 1s ease-in-out;
                    color: white;
                    z-index: 2;

                    h2 {
                        font-size: 4rem;
                    }

                    p {
                        font-size: 1rem;
                        margin-top: 1rem;
                    }

                    a {
                        display: block;
                        padding: 1rem 2rem;
                        width: 150px;
                        background-color: rgb(0, 255, 179);
                        margin-top: 3rem;
                        font-size: 1.5rem;
                        font-weight: 700;

                        &:hover {
                            background-color: white;
                        }
                    }
                }

                &:hover .imageDes {
                    bottom: 25%;
                }
            }

            .img::after {
                content: '';
                position: absolute;
                bottom: 0%;
                left: 0%;
                width: 100%;
                height: 0%;
                background-color: rgba(0, 0, 0, 0.698);
                transition: all 0.5s ease-in-out;
                z-index: 1;
            }

            .img:hover::after {
                height: 100%;
            }

            .firstImage {
                width: 300px;
                height: 650px;
                background-image: url(images/fc.jpg);
                background-position: center;
                background-size: 400%;
                transition: all 0.4s ease-in-out;

                &:hover {
                    background-size: 500%;
                }
            }

            .secondImage {
                width: 300px;
                height: 650px;
                background-image: url(images/td.jpg);
                background-position: top;
                background-size: 420%;
                transition: all 0.4s ease-in-out;

                &:hover {
                    background-size: 500%;
                }
            }

            .thirdImage {
                width: 300px;
                height: 650px;
                background-image: url(images/rs.jpg);
                background-position: center;
                background-size: 420%;
                transition: all 0.4s ease-in-out;

                &:hover {
                    background-size: 500%;
                }
            }

            .fourthImage {
                width: 300px;
                height: 650px;
                background-image: url(images/fh.jpg);
                background-position: center;
                background-size: 420%;
                transition: all 0.4s ease-in-out;

                &:hover {
                    background-size: 500%;
                }
            }

            .fifthImage {
                width: 300px;
                height: 650px;
                background-image: url(images/ac.jpg);
                background-position: top;
                background-size: 420%;
                transition: all 0.4s ease-in-out;

                &:hover {
                    background-size: 500%;
                }
            }

            .sixthImage {
                width: 300px;
                height: 650px;
                background-image: url(images/tc.jpg);
                background-position: top;
                background-size: 420%;
                transition: all 0.4s ease-in-out;

                &:hover {
                    background-size: 500%;
                }
            }
        }
    }
}





.firstSection {
    height: 100vh;
}