@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


$firstFont:'KoHo', sans-serif;
$secondFont:'Raleway', sans-serif;
$thirdFont:'Josefin Sans', sans-serif;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: $secondFont;
    background-color: black;
}

a {
    color: black;
    text-decoration: none;
}

ul li {
    list-style-type: none;
}


header{
    // position: sticky;
    // top: 0%;
    height: 8vh;
    background-image: url(images/bg3.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    overflow: hidden;
    transition: all 0.5s ease-in-out;

    &:hover {
        height: 45vh;
        background-position: center;
    }

    &:hover nav>.brand{
        opacity: 0;
        cursor: default;
        pointer-events: none;
    }

    &:hover nav>ul {
        width: 650px;
    }

    &:hover nav>ul>li>a {
        font-weight: 800;
    }


    nav {
        height: 8vh;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .brand {
            margin-left: 4rem;
            transition: all 1s ease-in-out; 
            h1 {
                font-size: 4rem;
                font-family: $firstFont;
                color: rgb(0, 255, 179);
            }
        }

        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 600px;
            height: 4vh;
            margin-right: 2rem;
            transition: all 0.5s ease-in-out;
            li {
                a{
                    font-size: 1.5rem;
                    font-weight: 500;
                    color: rgb(0, 255, 179);

                    &:hover {
                        border-bottom: 2px solid rgb(0, 255, 179);
                    }
                }
            }
            .shop {
                a {
                    font-size: 1.5rem;
                    padding: 1rem 2rem;
                    background-color: black;
                    color: white;

                    &:hover {
                        background-color: rgb(0, 255, 179);
                        color: black;
                    }
                }
            }
        }
    }

    .extra {
        margin-top: 1rem;
        margin-left: 4rem;
        h1 {
            color: rgb(0, 255, 179);
        }
        .category {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 25vh;
            margin: 2rem 0 0 1rem;

            ul {
                li{
                    a{
                        display: block;
                        width: 200px;
                        text-align: center;
                        background-color: rgb(0, 255, 179);
                        padding: 1.5rem 2rem;
                        font-size: 1.4rem;

                        &:hover {
                            color: white;
                            background-color: rgb(19, 19, 19);
                            border-bottom: 2px solid rgb(0, 255, 179);
                        }
                    }
                }
            }
        }
    }
}



.hero {
    height: 130vh;
    width: 100vw;
    background-color: black;

    h1 {
        font-family: $thirdFont;
        font-size: 4rem;
        color: rgb(0, 255, 179);
        text-align: center;
        padding-top: 10rem;
    }

    .showcase {
        .images {
            display: flex;
            justify-content: center;
            padding-top: 10rem;

            .img {
                position: relative;
                // border-top: 15px solid rgb(0, 255, 179);
                // border-bottom: 15px solid rgb(0, 255, 179);
                overflow: hidden;

                .imageDes {
                    position: absolute;
                    bottom: -50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    text-align: center;
                    transition: all 1s ease-in-out;
                    color: goldenrod;
                    z-index: 2;

                    h2 {
                        font-size: 4rem;
                    }

                    p {
                        font-size: 1rem;
                        margin-top: 1rem;
                    }

                    a {
                        display: block;
                        padding: 1rem 2rem;
                        width: 150px;
                        background-color: goldenrod;
                        margin: 3rem auto 0 auto;
                        font-size: 1.5rem;
                        font-weight: 700;

                        &:hover {
                            background-color: rgb(0, 255, 179);
                        }
                    }
                }

                &:hover .imageDes {
                    bottom: 25%;
                }
            }

            .img::after {
                content: '';
                position: absolute;
                bottom: 0%;
                left: 0%;
                width: 100%;
                height: 0%;
                background-color: rgba(0, 0, 0, 0.698);
                transition: all 0.5s ease-in-out;
                z-index: 1;
            }

            .img:hover::after {
                height: 100%;
            }

            .firstImage {
                width: 300px;
                height: 650px;
                background-image: url(images/fc.jpg);
                background-position: center;
                background-size: 400%;
                transition: all 0.4s ease-in-out;

                &:hover {
                    background-size: 500%;
                }
            }

            .secondImage {
                width: 300px;
                height: 650px;
                background-image: url(images/td.jpg);
                background-position: top;
                background-size: 420%;
                transition: all 0.4s ease-in-out;

                &:hover {
                    background-size: 500%;
                }
            }

            .thirdImage {
                width: 300px;
                height: 650px;
                background-image: url(images/rs.jpg);
                background-position: center;
                background-size: 420%;
                transition: all 0.4s ease-in-out;

                &:hover {
                    background-size: 500%;
                }
            }

            .fourthImage {
                width: 300px;
                height: 650px;
                background-image: url(images/fh.jpg);
                background-position: center;
                background-size: 420%;
                transition: all 0.4s ease-in-out;

                &:hover {
                    background-size: 500%;
                }
            }

            .fifthImage {
                width: 300px;
                height: 650px;
                background-image: url(images/ac.jpg);
                background-position: top;
                background-size: 420%;
                transition: all 0.4s ease-in-out;

                &:hover {
                    background-size: 500%;
                }
            }

            .sixthImage {
                width: 300px;
                height: 650px;
                background-image: url(images/tc.jpg);
                background-position: top;
                background-size: 420%;
                transition: all 0.4s ease-in-out;

                &:hover {
                    background-size: 500%;
                }
            }
        }
    }

    .adSection {
        height: 150px;
        width: 1800px;
        margin: 6rem auto;
        background-image: url(images/bg5.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        transition: all 0.4s ease-in-out;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            opacity: 0;
            background-color: rgb(39, 39, 39);
            transition: all 0.4s ease-in-out;
        }

        &:hover {
            background-size: 110%;
        }

        &:hover::after {
            width: 100%;
            opacity: 1;
        }

        &:hover .adText {
            left: 50%;
        }

        .adText {
            text-align: center;
            position: absolute;
            top: 50%;
            left: -20%;
            transform: translate(-50%,-50%);
            z-index: 1;

            h2 {
                font-size: 5rem;
                color: rgb(255, 255, 255);
                font-family: $thirdFont;
            }
            p {
                color: rgb(255, 255, 255);
                font-size: 1.5rem;
            }
        }
    }
}





.firstSection {
    height: 80vh;
    overflow: hidden;
    border-top: 5px solid rgb(0, 255, 179);

    .bg {
        height: 100%;
        background-image: url(images/sectionbg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        position: relative;
        transition: all 1s ease-in-out;

        &:hover {
            background-size: 130%;
        }
    
        &::after {
            content: '';
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 0%;
            background-color: rgba(0, 0, 0, 0.603);
            z-index: 4;
            transition: all 1s ease-in-out;
        }

        &:hover::after {
            height: 100%;
        }

        &:hover .des {
            top: 50%;
        }

        &:hover .invisibleDes {
            opacity: 0;
        }

        .invisibleDes {
            font-family: $thirdFont;
            font-size: 9rem;
            color: rgba(0, 255, 179, 0.568);
            padding-top: 4rem;
            width: 300px;
            transition: all 0.5s ease-in-out;
        }

        .des {
            color: white;
            text-align: center;
            position: absolute;
            top: -50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 6;
            transition: all 1s ease-in-out;

            h1 {
                font-size: 20rem;
                font-family: $thirdFont;
            }

            h2 {
                font-size: 4rem;
                line-height: 50px;
            }

            h3 {
                font-size: 2.5rem;
                color: goldenrod;
                line-height: 100px;
            }

            p {
                font-size: 2rem;
                line-height: 30px;
            }

            .btn {
                display: flex;
                justify-content: space-between;
                width: 800px;
                margin: auto;

                a {
                    font-size: 1.5rem;
                    font-weight: 700;
                    color: white;
                    display: block;
                    padding: 2rem 3rem;
                    background-color: goldenrod;
                    width: 300px;
                    margin: 2rem auto;
    
                    &:hover {
                        color: black;
                        background-color: rgb(0, 255, 179);
                    }
                }
    
                .secondBtn {
                    background-color: rgb(0, 119, 255);

                    &:hover {
                        background-color: crimson;
                        color: white;
                    }
                }
            }
        }
    }
}



.secondSection {
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(images/bg10.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: all 0.4s ease-in-out;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 0%;
        right: 0%;
        width: 0%;
        height: 100%;
        background-color: rgba(31, 31, 31, 0.74);
        border-left: 35px solid rgb(218, 165, 32);
        transition: all 0.4s ease-in-out;
    }

    &:hover {
        background-size: 110%;
    }

    &:hover::after {
        width: 70%;
    }

    .sidebar {
        height: 100vh;
        width: 100%;
        padding: 6rem;
        display: flex;
        flex-direction: row;

        .leftSide {
            width: 20%;

            ul {
                height: 87vh;
                padding: 2rem;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background-color: rgba(0, 0, 0, 0.253);
                backdrop-filter: blur(0.5rem);

                &:hover {
                    cursor: pinter;
                }

                li {
                    background-color: rgba(29, 29, 29, 0.349);
                    height: 100%;
                    padding: 1rem;
                    a {
                        display: block;
                        color: white;
                        font-size: 1.8rem;
                    }

                    &:hover {
                        transform: rotateY(20deg);
                        background-color: rgba(218, 165, 32, 0.3);
                    }
                }
            }
        }

        .rightSide {
            width: 80%;
        }
    }
}